<div class="page-header">
  <h3><%= @photo.caption %></h3>

  <form action="/create_favorite" class="form-horizontal">
    <input type="hidden" id="photo_id" name="photo_id" class="form-control" value="<%= @photo.id %>">
    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
    <input type="submit" value="Favorite" class="btn btn-success">
  </form>
</div>

<dl class="dl-horizontal">
  <dd><img src="<%= @photo.image_url %>"></dd>
</dl>

<ul class="media-list">
  <% @photo.comments.each do |comment| %>
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="https://graph.facebook.com/colinsjones11/picture" alt="...">
      </a>
      <div class="media-body">
        <p class="media-heading"><strong><%= User.find(comment.user_id).email %></strong></p>
        <p><%= comment.content %></p>
      </div>
    </li>
  <% end %>
</ul>

<form action="/create_comment" class="form-horizontal">
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">
      Comment
    </label>
    <div class="col-sm-10">
      <textarea id="content" name="content" placeholder="Comment" class="form-control" rows="3"></textarea>
    </div>
  </div>

    <input type="hidden" id="photo_id" name="photo_id" class="form-control" value="<%= @photo.id %>">
    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Add Comment" class="btn btn-primary">
    </div>
  </div>
</form>
